/* Приоритет 10 */
.block {
  width: 500px;
  height: 500px;
  background: #000;
}

/* Приоритет 100 */
#block {
  background: green;
}

/* Приоритет 10 */
.block-2 {
  background: red;
}

/* Приоритет 1 */
div {
  background: blue !important;
}

/* Приоритет 11 */
div.block{
  background: blue ;
}