body {
    font-size: 40px;
}

/* ===================================== */

.block {
  /* width: 400px;
  height: 100px; */
  max-width: 1000px;
  min-width: 500px;

  max-height: 500px;
  min-height: 100px;
}

.img {
  width: 600px;
}