body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #181e34;
}

[class*="container"] {
  width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 1;
}

/* ======== HEADER ======== */

.header {
  padding: 30px 0 36px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 30px;
}

.btn-light {
  color: #2766AE;
  background: #fff;
  padding: 14px 30px;
  border-radius: 100px;
}

/* ======== HERO ======== */

.hero {
  background: url("../img/bg.jpg") 10% 50% / cover no-repeat;
}

.hero__container {
  padding: 120px 0px;
}

.hero__title {
  margin-bottom: 60px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  max-width: 436px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero__text span {
  color: #01A2CB;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
  width: 100%;
}

.hero__btn {
  padding: 18px 30px;
  border-radius: 100px;
}

.btn-one {
  background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%)
}

.btn-two {
  background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
}

/* ======== CARDS ======== */

.cards__container {
  padding: 120px 0;
  text-align: center;
}

.cards__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
}

.cards__subtitle {
  max-width: 513px;
  text-align: center;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 30px;
}

.cards__block {
  padding: 28px;
  border-radius: 16px;
  border: 2px solid #176BAE;
  background: #197CB8;
  box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
  display: inline-block;
}

.block__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.block__desc {
  width: 144px;
  text-align: center;
}

.cards__btn {
  max-width: 436px;
  width: 100%;
  padding: 18px 30px;
  border-radius: 100px;
  background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
}

/* ======== FOOTER ======== */

.footer {
  border-top: 1px solid #323952;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: start;
}

.footer__desc {
  margin-right: auto;
}

.footer__text {
  max-width: 267px;
  margin-top: 15px;
}

.list-one {
  margin-right: 117px;
}

.list-two {
  right: 0;
}

.footer__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__list li {
  margin-bottom: 10px;
}